In [35]:
import pandas as pd
import mysql.connector as mariadb

In [36]:
mariadb_connection = mariadb.connect(host='localhost', port=3307, user='Quentin', password = 'emilie', database='bdd')
cursor = mariadb_connection.cursor()

In [37]:
r1r2 = pd.read_csv(r'/Users/royerquentin/Desktop/BDTN_3A/PING-Docker/python/data/r1r2.csv')

In [50]:
r1r2

                                    SITES  Year        R1      R2
0                         SAIEM PRINTEMPS  2016   36718.0   32211
1                         SAIEM NIVERNAIS  2016   16357.0   13069
2                      SAIEM MELLEVILLE 1  2016   13135.0   11435
3                      SAIEM MELLEVILLE 2  2016   22298.0   20648
4                               H2 - 315L  2016   54488.0   50412
5                               H3 - 150L  2016   54488.0   50412
6                               H4 - 150L  2016   54488.0   50412
7                               MACONNAIS  2016   54488.0   50412
8                                 PELVOUX  2016   54488.0   50412
9                               ROUERGUES  2016   54488.0   50412
10                              H1 VALAIS  2016   54488.0   50412
11                                    ST1  2016   54488.0   50412
12                                    ST2  2016   54488.0   50412
13                                    ST4  2016   54488.0   50412
14                              SECO - M4  2016   44016.0   40872
15                     SECOMILE BOURGOGNE  2016   11641.0    8856
16                              SECO - M3  2016  114057.0   98677
17          BAT M5 - CHALEUR (D15339Z-01)  2016   18605.0   17079
18                               CC1+CC2   2016    1765.0    6763
19                           CLOS MADELON  2016   33554.0   23112
20                FOYER RESIDENCE DU PARC  2016   26606.0   18782
21                 RESIDENCE FER A CHEVAL  2016   45304.0   32260
22                      RESIDENCE DU PARC  2016   64546.0   54837
23                   RESIDENCE HAUTEVILLE  2016   23155.0   16300
24            RESIDENCE WINSTON CHURCHILL  2016   18130.0   15570
25                             M1 CHALEUR  2016   59994.0   55761
26                   ECOLE ROMAIN ROLLAND  2016   10338.0    7980
27           ECOLE MICHELET - A DE MUSSET  2016   15348.0   15424
28   ECOLE ET GYMNASE JOLIOT CURIE + APF   2016   40807.0   40532
29                  CENTRE LOISIRS DESNOS  2016     492.0      97
..                                    ...   ...       ...     ...
136              GSK - CHAUFFERIE EST N°1  2017   14716.0   73665
137                     GSK - COMPRIMES 1  2017       0.0   19644
138                          GSK - DISKUS  2017  219459.0  147330
139                GSK - DISTRIBUTION N°1  2017  104565.0   29469
140               GSK - ENERGIE OUEST N°1  2017   62731.0   36833
141               GSK - ENERGIE OUEST N°2  2017   62731.0   36833
142                                  AFPA  2017   63007.0   47833
143                             BAT D7.D8  2017    2157.0    1228
144                  BAT TOULOUSE LAUTREC  2017    1624.0    1473
145                             C.F.A N°1  2017   38068.0   26814
146                   CHAMBRE DES METIERS  2017    8998.0    8646
147                             CONFORAMA  2017   14651.0    6925
148                                 REXEL  2017    4958.0    4027
149                           DEUTSCH N°1  2017   69435.0   58416
150                           DEUTSCH N°2  2017   69435.0   58416
151                  FERMETURES VENTOISES  2017    3714.0    2308
152                              LA RONCE  2017   25767.0   32756
153                           POLE EMPLOI  2017       NaN    3241
154                      HOTEL DES IMPOTS  2017    5298.0    7170
155                               S.D.P.P  2017   34668.0   20899
156                           S.P.PARFUMS  2017       0.0       0
157                         PRO.LANGE 40L  2017    7243.0    5353
158                             PREVADIES  2017       0.0       0
159                                   SPX  2017   18782.0   20135
160                        LYCEE A.BRIAND  2017   77579.0   67182
161                LYCEE AUGUSTIN HEBERT   2017   42109.0   28706
162                       LYCEE HORTICOLE  2017   23453.0   16144
163                  LYCEE MODESTE LEROY   2017   76358.0   57020
164                         LYCEE SENGHOR  2017   45270.0   39551
165                       SAIEM S2 - 310L  2017  102964.0   93113

[166 rows x 4 columns]

In [42]:
len(r1r2.index)

166

In [39]:
sql = "SELECT site_id, nom FROM site"
cursor.execute(sql)
sites = cursor.fetchall()
mariadb_connection.close()

In [40]:
df_sites = pd.DataFrame(sites, columns=["id_site", "nom_site"])

In [44]:
table = r1r2.merge(df_sites, how='inner', left_on='SITES', right_on='nom_site')

In [46]:
table.drop(['SITES', 'nom_site'], axis=1, inplace=True)

In [48]:
table = table[['id_site', 'Year', 'R1', 'R2']]

In [49]:
table

     id_site  Year        R1     R2
0          1  2016   36718.0  32211
1          1  2017   39432.0  32511
2          2  2016   16357.0  13069
3          2  2017   17481.0  14144
4          3  2016   13135.0  11435
5          3  2017   11923.0  11541
6          4  2016   22298.0  20648
7          4  2017       0.0  21903
8          5  2016   54488.0  50412
9          5  2017   48815.0  50814
10         6  2016   54488.0  50412
11         6  2017   48815.0  50814
12         7  2016   54488.0  50412
13         7  2017   48815.0  50814
14         8  2016   54488.0  50412
15         8  2017   48815.0  50814
16         9  2016   54488.0  50412
17         9  2017   48815.0  50814
18        10  2016   54488.0  50412
19        10  2017   48815.0  50814
20        11  2016   54488.0  50412
21        11  2017   48815.0  50814
22        12  2016   54488.0  50412
23        12  2017   48815.0  50814
24        13  2016   54488.0  50412
25        13  2017   48815.0  50814
26        14  2016   54488.0  50412
27        14  2017   48815.0  50814
28        15  2016   44016.0  40872
29        15  2017   45279.0  41252
..       ...   ...       ...    ...
136       69  2016    3236.0   2287
137       69  2017    3714.0   2308
138       70  2016   30548.0  32455
139       70  2017   25767.0  32756
140       71  2016     726.0   3211
141       71  2017       NaN   3241
142       72  2016    9836.0   7104
143       72  2017    5298.0   7170
144       73  2016   37784.0  48998
145       73  2017   34668.0  20899
146       74  2016       0.0      0
147       74  2017       0.0      0
148       75  2016    7078.0   5304
149       75  2017    7243.0   5353
150       76  2016       0.0      0
151       76  2017       0.0      0
152       77  2016   20936.0  19950
153       77  2017   18782.0  20135
154       78  2016   83893.0  66563
155       78  2017   77579.0  67182
156       79  2016   50651.0  28486
157       79  2017   42109.0  28706
158       80  2016   23130.0  16020
159       80  2017   23453.0  16144
160       81  2016   77701.0  56582
161       81  2017   76358.0  57020
162       82  2016   44966.0  39247
163       82  2017   45270.0  39551
164       83  2016  119207.0  92255
165       83  2017  102964.0  93113

[166 rows x 4 columns]

In [54]:
parameter = pd.DataFrame(columns=["meteo", "puissance", "isolation"])

In [70]:
liste = []

In [71]:
for meteo in ["Stable", "Froide", "Chaude"]:
    for puissance in [round(x,1) for x in np.linspace(0.5, 1.5, 11).tolist()]:
        for isolation in [round(x, 1) for x in np.linspace(0.1, 0.5, 5).tolist()]:
            liste.append([meteo, puissance, isolation])

In [72]:
liste

[['Stable', 0.5, 0.1],
 ['Stable', 0.5, 0.2],
 ['Stable', 0.5, 0.3],
 ['Stable', 0.5, 0.4],
 ['Stable', 0.5, 0.5],
 ['Stable', 0.6, 0.1],
 ['Stable', 0.6, 0.2],
 ['Stable', 0.6, 0.3],
 ['Stable', 0.6, 0.4],
 ['Stable', 0.6, 0.5],
 ['Stable', 0.7, 0.1],
 ['Stable', 0.7, 0.2],
 ['Stable', 0.7, 0.3],
 ['Stable', 0.7, 0.4],
 ['Stable', 0.7, 0.5],
 ['Stable', 0.8, 0.1],
 ['Stable', 0.8, 0.2],
 ['Stable', 0.8, 0.3],
 ['Stable', 0.8, 0.4],
 ['Stable', 0.8, 0.5],
 ['Stable', 0.9, 0.1],
 ['Stable', 0.9, 0.2],
 ['Stable', 0.9, 0.3],
 ['Stable', 0.9, 0.4],
 ['Stable', 0.9, 0.5],
 ['Stable', 1.0, 0.1],
 ['Stable', 1.0, 0.2],
 ['Stable', 1.0, 0.3],
 ['Stable', 1.0, 0.4],
 ['Stable', 1.0, 0.5],
 ['Stable', 1.1, 0.1],
 ['Stable', 1.1, 0.2],
 ['Stable', 1.1, 0.3],
 ['Stable', 1.1, 0.4],
 ['Stable', 1.1, 0.5],
 ['Stable', 1.2, 0.1],
 ['Stable', 1.2, 0.2],
 ['Stable', 1.2, 0.3],
 ['Stable', 1.2, 0.4],
 ['Stable', 1.2, 0.5],
 ['Stable', 1.3, 0.1],
 ['Stable', 1.3, 0.2],
 ['Stable', 1.3, 0.3],
 ['Stable', 1.3, 0.4],
 ['Stable', 1.3, 0.5],
 ['Stable', 1.4, 0.1],
 ['Stable', 1.4, 0.2],
 ['Stable', 1.4, 0.3],
 ['Stable', 1.4, 0.4],
 ['Stable', 1.4, 0.5],
 ['Stable', 1.5, 0.1],
 ['Stable', 1.5, 0.2],
 ['Stable', 1.5, 0.3],
 ['Stable', 1.5, 0.4],
 ['Stable', 1.5, 0.5],
 ['Froide', 0.5, 0.1],
 ['Froide', 0.5, 0.2],
 ['Froide', 0.5, 0.3],
 ['Froide', 0.5, 0.4],
 ['Froide', 0.5, 0.5],
 ['Froide', 0.6, 0.1],
 ['Froide', 0.6, 0.2],
 ['Froide', 0.6, 0.3],
 ['Froide', 0.6, 0.4],
 ['Froide', 0.6, 0.5],
 ['Froide', 0.7, 0.1],
 ['Froide', 0.7, 0.2],
 ['Froide', 0.7, 0.3],
 ['Froide', 0.7, 0.4],
 ['Froide', 0.7, 0.5],
 ['Froide', 0.8, 0.1],
 ['Froide', 0.8, 0.2],
 ['Froide', 0.8, 0.3],
 ['Froide', 0.8, 0.4],
 ['Froide', 0.8, 0.5],
 ['Froide', 0.9, 0.1],
 ['Froide', 0.9, 0.2],
 ['Froide', 0.9, 0.3],
 ['Froide', 0.9, 0.4],
 ['Froide', 0.9, 0.5],
 ['Froide', 1.0, 0.1],
 ['Froide', 1.0, 0.2],
 ['Froide', 1.0, 0.3],
 ['Froide', 1.0, 0.4],
 ['Froide', 1.0, 0.5],
 ['Froide', 1.1, 0.1],
 ['Froide', 1.1, 0.2],
 ['Froide', 1.1, 0.3],
 ['Froide', 1.1, 0.4],
 ['Froide', 1.1, 0.5],
 ['Froide', 1.2, 0.1],
 ['Froide', 1.2, 0.2],
 ['Froide', 1.2, 0.3],
 ['Froide', 1.2, 0.4],
 ['Froide', 1.2, 0.5],
 ['Froide', 1.3, 0.1],
 ['Froide', 1.3, 0.2],
 ['Froide', 1.3, 0.3],
 ['Froide', 1.3, 0.4],
 ['Froide', 1.3, 0.5],
 ['Froide', 1.4, 0.1],
 ['Froide', 1.4, 0.2],
 ['Froide', 1.4, 0.3],
 ['Froide', 1.4, 0.4],
 ['Froide', 1.4, 0.5],
 ['Froide', 1.5, 0.1],
 ['Froide', 1.5, 0.2],
 ['Froide', 1.5, 0.3],
 ['Froide', 1.5, 0.4],
 ['Froide', 1.5, 0.5],
 ['Chaude', 0.5, 0.1],
 ['Chaude', 0.5, 0.2],
 ['Chaude', 0.5, 0.3],
 ['Chaude', 0.5, 0.4],
 ['Chaude', 0.5, 0.5],
 ['Chaude', 0.6, 0.1],
 ['Chaude', 0.6, 0.2],
 ['Chaude', 0.6, 0.3],
 ['Chaude', 0.6, 0.4],
 ['Chaude', 0.6, 0.5],
 ['Chaude', 0.7, 0.1],
 ['Chaude', 0.7, 0.2],
 ['Chaude', 0.7, 0.3],
 ['Chaude', 0.7, 0.4],
 ['Chaude', 0.7, 0.5],
 ['Chaude', 0.8, 0.1],
 ['Chaude', 0.8, 0.2],
 ['Chaude', 0.8, 0.3],
 ['Chaude', 0.8, 0.4],
 ['Chaude', 0.8, 0.5],
 ['Chaude', 0.9, 0.1],
 ['Chaude', 0.9, 0.2],
 ['Chaude', 0.9, 0.3],
 ['Chaude', 0.9, 0.4],
 ['Chaude', 0.9, 0.5],
 ['Chaude', 1.0, 0.1],
 ['Chaude', 1.0, 0.2],
 ['Chaude', 1.0, 0.3],
 ['Chaude', 1.0, 0.4],
 ['Chaude', 1.0, 0.5],
 ['Chaude', 1.1, 0.1],
 ['Chaude', 1.1, 0.2],
 ['Chaude', 1.1, 0.3],
 ['Chaude', 1.1, 0.4],
 ['Chaude', 1.1, 0.5],
 ['Chaude', 1.2, 0.1],
 ['Chaude', 1.2, 0.2],
 ['Chaude', 1.2, 0.3],
 ['Chaude', 1.2, 0.4],
 ['Chaude', 1.2, 0.5],
 ['Chaude', 1.3, 0.1],
 ['Chaude', 1.3, 0.2],
 ['Chaude', 1.3, 0.3],
 ['Chaude', 1.3, 0.4],
 ['Chaude', 1.3, 0.5],
 ['Chaude', 1.4, 0.1],
 ['Chaude', 1.4, 0.2],
 ['Chaude', 1.4, 0.3],
 ['Chaude', 1.4, 0.4],
 ['Chaude', 1.4, 0.5],
 ['Chaude', 1.5, 0.1],
 ['Chaude', 1.5, 0.2],
 ['Chaude', 1.5, 0.3],
 ['Chaude', 1.5, 0.4],
 ['Chaude', 1.5, 0.5]]

In [51]:
import numpy as np

In [53]:
np.arange(0.5, 1.5, 0.1).tolist()

[0.5,
 0.6,
 0.7,
 0.7999999999999999,
 0.8999999999999999,
 0.9999999999999999,
 1.0999999999999999,
 1.1999999999999997,
 1.2999999999999998,
 1.4]

In [58]:
np.arange(0.5, 1.5, 0.1).tolist()

[0.5,
 0.6,
 0.7,
 0.7999999999999999,
 0.8999999999999999,
 0.9999999999999999,
 1.0999999999999999,
 1.1999999999999997,
 1.2999999999999998,
 1.4]

In [62]:
np.linspace(0.5, 1.5, 11)

array([0.5, 0.6, 0.7, 0.8, 0.9, 1. , 1.1, 1.2, 1.3, 1.4, 1.5])